name: Build
on:
  workflow_dispatch:
jobs:
 build:
   runs-on: ${{ matrix.os }}
   continue-on-error: true
   strategy:
     matrix:
       os: [macos-latest, ubuntu-latest, windows-latest]
   steps:
     - name: Checkout Code
       uses: actions/checkout@v2
     - name: Setup Node.js
       uses: actions/setup-node@v6.1.0
       with:
         node-version: 24
     - name: Install Dependencies
       run: npm install
     - name: Import with electron-forge
       run: |
         npm install --save-dev @electron-forge/cli
         npx electron-forge import
     - name: Build with electron-forge
       run: "npm run make"
     - name: Upload a Build Artifact
       uses: actions/upload-artifact@v6.0.0
       with:
         name: build-output-${{ matrix.os }}  # 为每个平台使用不同的名称
         path: "./out"