name: Build
on:
  push:
    branches: [ main ]
jobs:
 build:
   runs-on: ${{ matrix.os }}
   continue-on-error: true
   strategy:
     matrix:
       os: [windows-latest, macos-latest, ubuntu-latest]
   steps:
     - name: Checkout Code
       uses: actions/checkout@v2
     - name: Setup Node.js
       uses: actions/setup-node@v6.1.0
       with:
         node-version: 24
     - name: Install Yarn
       run: npm install -g yarn
     - name: Install Dependencies
       run: yarn
     - name: Delete Unnecessary Files on Windows
       if: matrix.os == 'windows-latest'
       run: Remove-Item -Recurse -Force README.md && Remove-Item -Recurse -Force .git && Remove-Item -Recurse -Force .github && Remove-Item -Recurse -Force .gitignore && Remove-Item -Recurse -Force .gitattributes && Remove-Item -Recurse -Force .vscode && Remove-Item -Recurse -Force .idea && Remove-Item -Recurse -Force installer
       shell: pwsh
     - name: Delete Unnecessary Files on Unix
       if: matrix.os != 'windows-latest'
       run: rm -rf README.md && rm -rf .git && rm -rf .github && rm -rf .gitignore && rm -rf .gitattributes && rm -rf .vscode && rm -rf .idea && rm -rf installer
       shell: bash
     - name: Build with electron-forge
       run: "yarn make"
     - name: Upload Build Artifacts
       uses: actions/upload-artifact@v6.0.0
       with:
         name: classwindows-${{ matrix.os }}
         path: |
           ./out/**
           !./out/make/**